Rainer Powell is an undergraduate student from Birmingham, AL, with aspirations to graduate with a Bachelor's Degree in Computer Science from the University of Alabama at the conclusion of the spring semester of 2014. Already an alumnus of this organization, he also holds degrees in Chemistry and Spanish and a minor in Japanese. An avid music lover, he has performed on violin with the student orchestra for two seasons and continues to play in local events in his spare time. He looks forward to pursuing an exciting career in software development following graduation.

Sent from my iPhone
